@font-face {
font-family: 'Pixel';
src: url('/assets/fonts/nintendo-nes-font.ttf') format('truetype'); /* Specify the path and format */
font-weight: normal; /* Optional: Define font weight */
font-style: normal; /* Optional: Define font style */
}
body {
font-family: 'Pixel', sans-serif;
}
h1 {
font-family: 'Pixel', serif;
}
