@font-face {
font-family: Pixel;
src: url('../fonts/nintendo-nes-font.ttf');
font-weight: normal;
font-style: normal;
}
p {
font-family: Pixel, sans-serif;
}
h1 {
font-family: Pixel, serif;
}
button {
  background: #1a73e8;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  color: #ffffff;
  border-width: 0px;
}
